@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins';
  transition: 0.5;
  box-sizing: border-box;
} 

/* styles.css (ou équivalent) */
.book-item {
  display: inline-block;
  width: 100px;
  height: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #F3F4F6, #EFF6FF);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.background-gradient-lk{
  background: linear-gradient(to bottom, #F3F4F6, #dfecfd);
}

.book1-bg{
  background-image: url(./assets/photo1-book.jpg);
  background-size: contain;
}

.book2-bg{
  background-image: url(./assets/photo2-book.jpg);
  background-size: contain;
}

.book3-bg{
  background-image: url(./assets/photo3-book.jpg);
  background-size: contain;
}

.book4-bg{
  background-image: url(./assets/photo4-book.jpeg);
  background-size: contain;
}

.book5-bg{
  background-image: url(./assets/photo5-book.jpg);
  background-size: contain;
}